
:root{
/* RGB */
--color1: rgba(117, 219, 205, 1);
--color2: rgba(255, 188, 66, 1);
--color3: rgba(216, 17, 89, 1);
--color4: rgba(143, 45, 86, 1);
--color5: rgba(33, 131, 128, 1); 

/*Dark Mode 
--color1: black;
--color2: rgba(16,124,16,1);

*/
--padding-base:5;
}

/*Colors*/
.primary-background{
    background-color: var(--color1);
}

.secondary-background{
    background-color: var(--color2);
}

.tertiary-color{
    background-color: var(--color5);
}

html{
    height:100%;
    background-color: var(--color1,lightBlue);
    font-family: 'Bitter','Poppins','Antic Slab', serif;
}

body{
    font-family: 'Antic Slab', serif;
    height: 98%;
    width: 98%;
}

h1,h2,h3,h4,h5,h6{
    font-family:'Bitter', 'Poppins',serif;
}

.card{
    padding: 5px;

}

#intro{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

@media only screen and (max-width: 768px){
    #flip-button{
        visibility: none;
    }
}



#card{
    display:flex;
    flex-direction: column;
    box-shadow: 10px 10px 78px -26px rgba(0,0,0,0.75);
    background-color: var(--color2);
    padding: 5px;
    border-radius: 12px;
    transition: transform .8s ease-in-out;
    transform-style: preserve-3d;
}

.card-front, .card-back{
    backface-visibility: hidden;
}

.card-back{
    transform: rotateX(180deg);
    position: absolute;
    height: 93%;
}

#header{
    font-weight:600;
    font-size: large;
}

/*Cursor*/
.cursor-pointer{
    cursor: pointer;
}


/*Margins*/
.ml-auto{
    margin-left: auto;
}

.mt-auto{
    margin-top: auto;
}

.mr-1{
    margin-right: 5px;
}

/*Display*/
.d-flex{
    display:flex;
}

.flex-column{
    flex-direction: column;
}


/*Padding*/

.p-1{
    padding: 5px;
}

.pb-1{
    padding-bottom: 5px;
}

/*Alignment*/
.align-end{
    align-items: flex-end;
}

.justify-content-between{
    justify-content: space-between;
}

.justify-content-center{
    justify-content: center;
}


